/*=========================*/
/* Benefits */
/*=========================*/
$copper : $primary;
$silver : #d3d8e2;
$golden : #ccb375;
.level-bens-table {
	list-style:none;
	margin:0;
	padding:0;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}
.level-bens-table div {
	list-style:none;
}
.level-bens-table>div {
	list-style:none;
	text-shadow:none;
	margin-bottom:0px;
	// border:1px solid #eee;
	margin:0px 15px;
	border-top: 0;
}
.level-bens-table>div.featured {
		z-index:1;
}
.level-bens-table>div.featured {
}
.level-bens-table>div.featured .level-bens-header {
	background-color:$primary;
}

.level {
	&--copper {

		.level-bens-header {
			background-color: $copper !important;
			border-radius: .7rem;
			.level-bens-shops,
			.level-bens-per {
				background-color: $copper  !important;
			}
		}
	}
	&--silver {
		.level-bens-header {
			background-color: $silver !important;
			border-radius: .7rem;
			.level-bens-shops,
			.level-bens-per {
				background-color: $silver  !important;
			}
		}
	}
	&--golden {
		.level-bens-header {
			background-color: $golden !important;
			border-radius: .7rem;
			.level-bens-shops,
			.level-bens-per {
				background-color: $golden  !important;
			}
		}
	}
}
.level-bens-table:hover {
	margin-top:-5px;
	@include media-breakpoint-down(md) {
		margin-bottom: 2rem;
	}
}
.level-bens-table .level-bens-header {
	text-align:center;
	padding:20px 0 10px 0;
	background-color:#333;
}
.level-bens-table .level-bens-header h5 {
	color:#fff;
	font-size:20px;
	margin:0;
	padding:0 20px 0px;
}
.level-bens-table .level-bens-shops {
	color:#fff;
	font-size: 1.2rem;
	line-height:1;
	font-weight: 600;
	text-transform: uppercase;
	padding-top:15px;
	background:#333;
}
.level-bens-table .level-bens-per {
	font-size:0.786em;
	color:#fff;
	background-color:#333;
	padding-bottom:10px;
}
.level-bens-table .level-bens-content {
	background:#fff;
	text-align:center;
}
.level-bens-table .level-bens-content ul {
	margin:0 !important;
	list-style:none !important;
	padding-left:0;
}
.level-bens-table .level-bens-content ul li {
	margin:0 !important;
	padding:10px 20px !important;
	border-bottom:1px solid #eee;
	list-style:none !important;
	color:#555;
}
.level-bens-table .level-bens-content ul li:nth-child(2n+2) {
	background:#F9F9F9;
}
.level-bens-table .level-bens-button {
	background:#fff;
	text-align:center;
	border-top:1px solid #fff;
	padding:35px 20px 35px;
}
.level-bens-table .level-bens-button .wow-button {
	float:none;
	margin:0 auto;
	background:#333;
	color:#fff;
		border-radius:3px;
	padding:12px 22px 14px;
}
.featured .level-bens-per,.featured .level-bens-shops,.featured .level-bens-button .wow-button,.buttoncolor {
	background-color: $primary;
}

.icon-box-top {
	text-align: center;
	.icon-rocket {
		background-color: #d28802;
		width: 95px;
		height: 95px;
		line-height: 95px;
		display: inline-block;
		color: $primary;
		font-size: 28px;
		border-radius: 50%;
	}
	h1 {
	    text-transform: uppercase;
	    font-size: 16px;
	    line-height: 19px;
	    font-weight: 700;
	    margin-top: 20px;
	    margin-bottom: 10px;
	    color: $white;
	}
	p {
		font-size: 13px;
		line-height: 22px;
		font-weight: 400;
	}
}

.section-heading {
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	padding: .6rem 0;
}

