
/*---------------------
  Registry
-----------------------*/
.bg-reg {
  background: {
    color: #ffffff;
    image: url('../img/registro/bg-reg5.jpg');
    size: cover;
    position: top center;
    repeat-x: no-repeat;
  }
  &--reg {
    background: {
      color: #ffffff;
      image: url('../img/registro/mc-reg2.jpg');
      size: cover;
      position: center;
    }
  }
  &--login {
    background: {
      color: #ffffff;
      image: url('../img/clientes/mc-nocfest.jpg');
      size: cover;
      position: bottom right;
    }
     .register-form .input__list input {
      color: #ffffff;
     }
     @include media-breakpoint-down(md) {
        padding-bottom: 1.5rem;
        background-repeat-x: repeat;
        background-size: 500px auto;
    }
  }
  &--loginsb {
    background: {
      color: #ffffff;
      image: url('../img/clientes/pattern.jpg');
      size: contain;
      position: center;
      repeat-x: repeat;
    }
    .himg {
      // height: 84vh;
    }
  }
}

.contact {
  // padding-top: 70px;
  // padding-bottom: 50px;
  .imgrwd {
    width: 240px;
    display: block;
    margin: 0 auto 1.4rem;
  }
  &__address {
    .description {
      hr {
        width: 60%;
        margin: 2rem auto;
        border-top: 3px solid $white;
      }

      p {
        font-size: 1.2rem;
        color: $white;
        text-align: center;
        font-weight: 700;
        a {
          color: $white;
          font-weight: 600;
        }
      }
    }
  }
  .register-navs {
    .nav-link {
      background-color: $green-100;
      color: $white;
      &.active {
        background-color: $orange-200;
        color: #f1f1f1 !important;
      }
    }
  }
}
.border-gray200 {
  border: 2px solid #dbddde;
  padding: 0 2rem;
  margin: .5rem 0 1rem;
}
.contact__address {
  padding-top: 4rem;
  // display: flex;
  // align-items: flex-end;
  // justify-content: stretch !important;
  // flex-wrap: wrap;
  // height: 100%;
  .section-title {
    margin-bottom: 10px;
    p {
      color: $white;
    }
    h2 {
      text-transform: none;
      @include media-breakpoint-down(md) {
        font-size: 1.6rem;
      }
    }
  }
  .imgbrand {
    height: 269px;
    max-height: auto;
    @include media-breakpoint-down(md) {
      height: 8rem;
    }
  }
  p {
    margin-bottom: 34px;
  }
  ul {
    &.level-list {
      display: flex;
      align-items: center;
      justify-content:center;
      margin-top: 2rem;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        padding-bottom: 2rem;
      }
    }
    li {
      list-style: none;
      padding-left: 100px;
      position: relative;
      margin: 0 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      i, span {
        font-size: 30px;
        height: 70px;
        width: 70px;
        // background: #f5f5f5;
        background: $orange-200;
        border-radius: 50%;
        line-height: 70px;
        text-align: center;
        color: $white;
        position: absolute;
        left: 0;
        top: -4px;
      }

      h5 {
        font-size: 20px;
        color: $white;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 3;
        @include media-breakpoint-down(md) {
          font-size: 1.2rem;
          text-align: left;
          line-height: 1.2;
          padding-left: 5rem;
        }
      }

      p {
        margin-bottom: 0;
      }

      span {
        font-size: 15px;
        color: $white;
        display: inline-block;
        margin-right: 25px;
        position: relative;

        &:after {
          position: absolute;
          right: -20px;
          top: -1px;
          content: "";
          font-size: 39px;
          line-height: 0;
          border-radius: 50%;
        }

        &:last-child {
          margin-right: 0;

          &:after {
            display: none;
          }
        }
        @include media-breakpoint-down(md) {
          margin-right: 1rem;
        }
      }

      @include media-breakpoint-down(md) {
        padding: .5rem;
        margin: 0;
        width: 100%;
        margin-bottom: 3rem;
      }
    }
    &.steps-list {
      flex-wrap: wrap;
      flex-direction: columns;
      li {
        width: 100%;
        padding: .5rem 2rem;
        text-align: center;
        display: flex;
        .numb {
          font-size: 1.7rem;
        }
        @include media-breakpoint-down(md)  {
          padding: 1rem;
          margin: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding-top: 0;
  }
}

.contact__form {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @extend .blog__details__form;

  .section-title {
    margin-bottom: 10px;

    h2 {
      text-transform: none;
    }
  }

  p {
    margin-bottom: 34px;
  }

  form .input__list input {
    color: #f1f1f1;
    font-size: 1rem;
    &:focus {
        outline-color: $white;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
  }
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
.card-active {
  display: none;
}
.activeCard {
  .register-active {
    display: none;
  }
  .card-active {
    display: block;
  }
}

.black-tabContent {
  color: $white;
}

