    <!-- Footer Section Begin -->
    <footer class="footer footer--normal spad bg-primary" data-setbg="img/footer-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                               <i class="fa fa-whatsapp"></i>
                                <p>Phone</p>
                                <h6>222 280 20 00</h6>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <p>Email</p>
                                <h6>microtec-rewards@gmail.com</h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__social">
                        <h5>Microtecnologias Moviles S.A. de C.V.</h5>
                        <div class="footer__social__links">
                            <a href="https://www.facebook.com/FranquiciasMicroTec"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/microtectelcel/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-12">
                    <div class="footer__newslatter">
                        <h4>Contactanos</h4>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-envelope-open"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#referedopc">
      Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade modalref" id="referedopc" tabindex="-1" role="dialog" aria-labelledby="referedopcLabel" aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-12 text-center py-4 text-primary">
                    <p>Si aún no tienes una cuenta Rewards te invitamos a realizar tu registro con nosotros aquí</p>
                    <a href="./registrar.html" class="btn btn-orange mb-3">Registrarme ya</a>

                    <p>Recuerda que también puedes acudir a cualquiera de nuestras sucursales a realizar tu registro y activación.</p>
                    <hr>
                    <p>Y si ya tienes tu cuenta solo ingresa a tu cuenta y comienza ya a compartir este beneficio con tus amigos y familiares.</p>

                    <a href="./cliente-login.html" class="btn btn-primary">Referir ya</a>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>
